* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

input {
  border: none;
  height: 100%;
  width: 100%;
  font-size: 21px;
}
input:focus {
  outline: none;
}

#all-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  min-height: fit-content;
  padding: 25px;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  #all-content {
    align-items: center;
    gap: 15px;
    flex-direction: column;
  }
}

.create, .toodoo, .concluded {
  border-collapse: collapse;
  border: solid 1px #000;
  max-width: 465px;
  min-width: 365px;
  width: 33.3333333333%;
}
@media screen and (max-width: 1200px) {
  .create, .toodoo, .concluded {
    width: 100%;
  }
}
.create tr, .toodoo tr, .concluded tr {
  display: flex;
  min-height: 50px;
}
.create th, .toodoo th, .concluded th {
  background-color: #117CCB;
  color: #fff;
}
.create th, .create td, .toodoo th, .toodoo td, .concluded th, .concluded td {
  align-items: center;
  border-bottom: 1px solid #000;
  display: flex;
  font-size: 21px;
  max-height: 50px;
  padding-left: 20px;
  text-align: left;
  width: 100%;
}
.create th > p, .create td > p, .toodoo th > p, .toodoo td > p, .concluded th > p, .concluded td > p {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.create th[class*=-button], .create td[class*=-button], .toodoo th[class*=-button], .toodoo td[class*=-button], .concluded th[class*=-button], .concluded td[class*=-button] {
  align-items: center;
  border: solid 1px #000;
  border-right: none;
  border-top: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  max-width: 50px;
  min-width: 32px;
  padding: 0;
  position: relative;
  transition: 0.6s;
  width: 100%;
}
.create th[class*=-button]::before, .create td[class*=-button]::before, .toodoo th[class*=-button]::before, .toodoo td[class*=-button]::before, .concluded th[class*=-button]::before, .concluded td[class*=-button]::before {
  content: url(../img/more-white.svg);
  position: absolute;
  transition: 0.6s;
}
.create th[class*=-button]::after, .create td[class*=-button]::after, .toodoo th[class*=-button]::after, .toodoo td[class*=-button]::after, .concluded th[class*=-button]::after, .concluded td[class*=-button]::after {
  content: url(../img/more-yellow.svg);
  position: absolute;
  transition: 0.6s;
}
.create th[class*=-button]:hover, .create td[class*=-button]:hover, .toodoo th[class*=-button]:hover, .toodoo td[class*=-button]:hover, .concluded th[class*=-button]:hover, .concluded td[class*=-button]:hover {
  background-color: #F6BA6C;
}
.create th[class*=-button]:hover::after, .create td[class*=-button]:hover::after, .toodoo th[class*=-button]:hover::after, .toodoo td[class*=-button]:hover::after, .concluded th[class*=-button]:hover::after, .concluded td[class*=-button]:hover::after {
  opacity: 0;
}

.toodoo th {
  background-color: #E2A85B;
}
.toodoo td[class*=-button-concluded]::before {
  content: url(../img/concluded-white.svg);
}
.toodoo td[class*=-button-concluded]::after {
  content: url(../img/concluded-green.svg);
}
.toodoo td[class*=-button-concluded]:hover {
  background-color: #47C6A2;
}
.toodoo td[class*=-button-concluded]:hover::after {
  opacity: 0;
}
.toodoo td[class*=-button-delete]::before {
  content: url(../img/delete-white.svg);
}
.toodoo td[class*=-button-delete]::after {
  content: url(../img/delete-red.svg);
}
.toodoo td[class*=-button-delete]:hover {
  background-color: #CE4530;
}
.toodoo td[class*=-button-delete]:hover::after {
  opacity: 0;
}
.toodoo .return-concluded.hidden-toodoo {
  display: none;
}

.concluded th {
  background-color: #47C6A2;
}
.concluded tr > td:first-child {
  border-right: 0;
}
.concluded .return-concluded {
  border-left: 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding: 0;
  position: relative;
  width: 140px;
}
.concluded .return-concluded p {
  background-color: #5ED8B3;
  border-radius: 100px;
  color: #fff;
  display: block;
  font-size: 16px;
  left: 50%;
  padding: 5px 10px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.6s;
}
.concluded .return-concluded .return-task {
  cursor: pointer;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: 0.6s;
  width: 0px;
}
.concluded .return-concluded .return-task:hover {
  width: 30px;
}
.concluded .return-concluded .return-task:hover::after {
  opacity: 0;
  background-color: #E2A85B;
}
.concluded .hidden-toodoo {
  display: flex;
}
.concluded .hidden-toodoo:hover .return-task {
  width: 30px;
}
.concluded .hidden-toodoo:hover p {
  opacity: 0;
  background-color: #E2A85B;
}
.concluded .hidden-concluded[class*=button] {
  display: none;
}

/*# sourceMappingURL=style.css.map */
