$attribute-list: border-radius, border, padding;
$button-bg-color: #0c1073 !default;
$button-border-color: #ea005a !default;
$size-1-px: 1 !default;
$size-5-px: 5 !default;

@mixin px-for-em($attribute, $unity) {
  @if $attribute == border {
    #{$attribute}: solid calc($size-1-px / 16) + $unity $button-border-color;
  } @else if $attribute == padding {
    #{$attribute}: calc($size-5-px / 16) + $unity calc($size-5-px * 2 / 16) + $unity;
  } @else {
    #{$attribute}: calc($size-5-px / 16) + $unity;
  }
}

%button {
  background-color: $button-bg-color;
  @each $attribute in $attribute-list {
    @include px-for-em($attribute, rem);
  }
}

.btn-follow {
  @extend %button;
}
