* {
  font-family: Helvetica;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #eceff1;
  transition: 0.3s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eceff1;
  box-shadow: 0.5px 0.5px 10px 0.5px #000;
  padding: 1rem 2rem;
  position: relative;
}

main {
  display: flex;
  justify-content: center;
}

input[type="checkbox"] {
  display: none;
}

.bi {
  font-size: 1.3rem;
  cursor: pointer;
  &-moon {
    display: none;
  }
}

.card {
  margin-top: 4rem;
  display: flex;
  width: 60%;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);

  &-image {
    padding: 2rem;
    width: 50%;
    position: relative;
    background-color: #eff7fc;
    overflow: visible;
    & span {
      font-size: 6rem;
      font-weight: 900;
    }
  }

  & img {
    width: 130%;
    transform: rotate(-25deg);
    position: absolute;
    right: -1rem;
    top: 10rem;
  }

  &-details {
    width: 50%;
    padding: 2rem;

    & h2 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }
}

.subtitle {
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  line-height: 1.6rem;
  margin-bottom: 2rem;
}

.price {
  font-weight: 900;
  font-size: 2rem;

  &-container {
    display: flex;
    justify-content: space-between;
  }
}

.btn {
  background-color: #444;
  width: 7rem;
  height: 3rem;
  border: none;
  border-radius: 3rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

/* Dark theme */

.dark {
  &,
  & header {
    background-color: #263238;
    color: #fff;
  }

  & .bi-sun {
    display: none;
  }

  & .bi-moon {
    display: block;
  }

  & .card {
    background-color: #37474f;

    &-image {
      background-color: #273035;
    }
  }
  
  & .subtitle {
    color: #67b4f3;
  }

  & .description {
    color: #2196f3;
  }

  & .btn {
    background-color: #67b4f3;
  }
}
