  *:not(body) {
    margin: 0;
    padding: 0;

    overflow: hidden;
  }

  h1,
  p {
    font-size: 1.875em;
    font-weight: 400;
    text-align: center;
    color: #fff;
  }

  body {
    background: #add8e6;
  }

  main {
    width: 100%;
    border: solid 0.2rem #000;
  }

  main>section {
    margin: 2.1875rem auto 0.625rem;
    width: 100%;
    max-width: 500px;
  }

  main>section div:first-child {
    margin: auto;
    min-height: 3.125rem;
    max-width: 12.5rem;
    width: 100%;
    margin-bottom: 0.625rem;
    background-color: #006400;
  }

  .div-1 {
    height: 15.625rem;
    width: 100%;
    background-color: #808080;
  }

    .div-2,
    .div-interna {
    margin: auto;
    height: calc(100% - 3.125rem);
    width: calc(100% - 3.125rem);
    background-color: #daa520;
  }

    .div-interna {
    background-color: #90ee90;
  }

  .div-interna>p {
    color: blue;
  }