:root {
  --width-global: 1400px;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}


body,
img, video {
  width: 100%;
}

video{
  cursor: pointer;
}

#all-content {
  width: 100%;
}

/* Header */
.header-topbar-container {
  width: 100%;
  background-color: #fff059;
}
.header-topbar {
  height: 70px;
  margin: auto;
  max-width: var(--width-global);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-area {
  display: flex;
  align-items: flex-start;
}

.header-logo {
  margin-right: 13px;
  width: 200px;
}

.form-table {
  border-radius: 5px;
  height: 50px;
  border-collapse: collapse;
  overflow: hidden;
}

#search {
  padding: 0 5px;
  border: solid 1px #ccc;
  width: 600px;
  color: #333;
  font-size: 1.35em;
  background-color: fff;
}

.form-table * {
  height: inherit;
}

.form-table [type="submit"] {
  border: solid 1px #ccc;
  width: 55px;

  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/search.png);

  background-color: #f7f7f7;
  cursor: pointer;
}

.header-nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-nav-item {
  height: 32px;
  padding-left: 7px;
  display: flex;
  align-items: center;
}
.header-nav-item:not(.header-nav-item:last-child) {
  padding: 0 10px;
  border-right: solid 2px #dccf50;
}
.header-nav-item a {
  color: #8d873f;
}

.header-banner-container {
  margin-top: 15px;
  margin-bottom: 50px;
  height: 440px;
  width: 100%;
  background-color: #e5e9ef;
}

.header-banner {
  margin: auto;
  height: inherit;
  width: calc(var(--width-global) - 175px);

  display: flex;
  align-items: center;
}

.header-banner aside {
  margin: auto 0;
  margin-right: 50px;
  display: flex;
  column-gap: 15px;
}

.header-banner-model {
  width: 375px;
}

.banner-products {
  height: 350px;
  width: 100%;
}

.header-banner p {
  color: #818284;
  font-size: 1.2rem;
}
.header-banner h2 {
  margin: 10px 0;
  font-size: 2rem;
}

.banner-products-container {
  display: flex;
  gap: 15px;
}

.banner-products-container
  > .banner-spot:not(.banner-spot:first-child)
  > .banner-spot-price {
  display: none;
}

.banner-spot {
  position: relative;
  cursor: pointer;
  transition: 0.6s;
}
.banner-spot:hover {
  filter: opacity(0.85);
}
.banner-spot:hover::before{
  content: url(../images/favorite.png);
  position: absolute;
  top: 5px;
  left: 5px;
}
.banner-spot:active {
  filter: grayscale(0.3);
}
.banner-spot:active::before {
  content: url(../images/favorite-active.png);
}

.banner-spot-image {
  height: 176px;
  width: 176px;
}
.banner-spot-image img {
  height: 176px;
  width: 176px;
  object-fit: cover;
  object-position: center;
}

p.banner-spot-name {
  margin: 10px 0;
  color: #444;
  font-size: 1rem;
}

.banner-spot-price {
  display: flex;
  flex-direction: column-reverse;
  color: #666;
}

.price {
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
}

.price:first-child {
  display: none;
}

.price.active {
  display: flex;
  color: #990000;
  font-weight: bolder;
}
.price.active p {
  margin-left: 15px;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  font-size: 13px;
  font-weight: 100;
  color: #fff;
  background-color: #990000;
}

.price.active p::before {
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  background-color: #990000;

  position: absolute;
  left: -6px;
  transform: rotate(45deg);
}

.price.active + .price::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;

  position: absolute;

  background-color: #666;
}
.span-tag {
  position: relative;
  z-index: 0;
}
.price span:not(.span-tag) {
  margin-left: 3px;
  display: inline-block;
  height: inherit;
  font-size: 10px;
  transform: translateY(-20%);
}

/* End Header */

/* Main */

.main-indications h2 {
  margin-bottom: 5px;
  font-size: 2.3em;
  font-weight: 500;
  text-align: center;
  color: #666666;
}

.main-indications p {
  font-size: 1.3em;
  text-align: center;
  color: #777;
}

.main-categories {
  margin: 45px auto 0;
  width: calc(var(--width-global) - 200px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.main-categories-left {
  width: 100%;
  grid-column: 1;
}

.main-categories-left > ul:nth-child(2) {
  margin-top: 50px;
}
.main-categories-right {
  height: 375px;
  grid-column: 2/5;
}

.main-categories-right ul {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  column-gap: 90px;
  flex-wrap: wrap;
}

.main-categories-left p,
.main-categories-right p {
  margin-bottom: 10px;
  width: fit-content;
  font-size: 1.15em;
  color: #777;
}

.main-categories-left li {
  margin: 10px 0;
}
.main-categories-left a,
.main-categories-right a {
  display: inline-block;
  width: fit-content;
  padding: 7px 15px;
  border-radius: 5px;

  color: #444;
  background-color: #eeeeee;
  transition: .2s;
}

.main-categories-left a:hover,
.main-categories-right a:hover{
  background-color: #ddd;
}
.main-categories-left .check {
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.main-categories-bottom {
  margin-top: 25px;
  width: 100%;
  grid-column: 1/5;
}

.main-create-account {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e7ef;
  height: 110px;
  width: 100%;
}

.main-create-account > div {
  height: 40px;
  width: 475px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-create-account p {
  font-size: 1.4em;
  color: #888;
}

.main-create-account a {
  font-size: 1.5rem;
  padding: 10px 15px;
  border: solid 1px #3d4f9d;
  border-radius: 3px;
  color: #fff;
  background-image: linear-gradient(#8ea2df 1px, #3d4f9d 2px);
  transition: .3s;
}

.main-create-account a:hover{
  opacity: .9;
}

.main-purchase-information {
  padding-bottom: 10px;
  border-top: solid 1px transparent;
  width: 100%;
  background-color: #f5f5f5;
}
.main-purchase-information.row-two {
  margin-top: 50px;
  background-color: #fff;
}

.main-purchase-information .container-global {
  height: inherit;
  margin: 40px auto;
  width: var(--width-global);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container-global .container-inside > div {
  border-top: 1px;
  margin: 20px 0 15px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.container-global .container-inside > div p {
  width: 250px;
  color: #999;
  font-size: 1em;
}
.container-global a {
  color: #5360c5;
}
.container-global .container-inside .mercadoPago {
  width: 250px;
}

.container-global > div h3 {
  font-size: 1.5em;
  font-weight: 500;
  color: #888;
}

.container-global figure {
  width: 125px;
}

.main-purchase-information .container-outside {
  margin: auto;
  padding: 0 100px;
  height: 95px;
  border-radius: 10px;

  display: flex;
  align-items: flex-end;
  column-gap: 65px;
  width: var(--width-global);
  background-color: #7a858c;
}

.main-purchase-information .container-outside .app-paragraph,
.main-purchase-information .container-outside .app-platform {
  margin: auto 0;
}
.main-purchase-information .container-outside .app-paragraph p {
  color: #fff;
  font-size: 1.9em;
  font-weight: 500;
}

.main-purchase-information .container-outside .app-paragraph p:last-child {
  font-size: 1em;
}

.main-purchase-information .container-outside .app-paragraph p:last-child span {
  color: #f9f200;
  font-weight: bolder;
}

.main-purchase-information .container-outside .app-platform {
  height: fit-content;
  display: flex;
  column-gap: 3px;
  align-items: center;
  color: #f9f200;
  font-weight: bolder;
}
.main-purchase-information .container-outside .app-platform figure {
  height: 40px;
}

.main-purchase-information .container-outside .app-phone {
  position: relative;
  bottom: -4px;
  width: 250px;
}

.main-purchase-information .app-apparel {
  margin: auto;
  margin-bottom: 50px;
  width: var(--width-global);
}

.main-products-lists {
  margin: auto;
  width: var(--width-global);
}

.main-products-lists > div{
  margin-bottom: 30px;
}

.main-products-lists > div ul{
  margin-left: 50px
}

.main-products-lists .ad-featured {
  display: flex;
  gap: 20px;
}

.main-products-lists [class^="ad-"][class$="-title"]{
  margin-bottom: 30px;
  color: #666;
  font-size: 24px;
}

.main-products-lists [class^="ad-"][class$="-title"] > a{
  display: inline-block;
  font-size: 16px;
  color: #0033CA;
}

.main-products-lists .ad-featured .spot-price.scratched,
.main-products-lists .ad-featured .percent-discount,
.main-products-lists .ad-arremate .spot-price.scratched,
.main-products-lists .ad-arremate .percent-discount{
  display: none;
}

.main-products-lists .main-products-container {
  display: flex;
  column-gap: 20px;
}
.main-products-lists .main-products-container .more-information{
  height: 152px;
  width: 25px;
  display: flex;
  align-items: center;
}
.main-products-lists .main-products-container .more-information figure{
  cursor: pointer;
}
.main-products-lists .main-products-container{
  height: fit-content;
  width: fit-content;
}
.main-products-lists .spot-image {
  height: 152px;
  width: 152px;
  overflow: hidden;
  border: solid 1px #dadada;
}

.main-products-lists .spot-image img {
  height: inherit;
  object-fit: cover;
  object-position: center;
}

.main-products-lists .spot-name {
  margin: 10px 0;
  color: #444;
  font-size: 1rem;
}
.main-products-lists .spot-price {
  display: flex;
  color: #990000;
  font-weight: bolder;
}
.main-products-lists .spot-price.scratched {
  width: fit-content;
  position: relative;
  margin-bottom: 5px;
  color: #777;

}

.main-products-lists .spot-price.scratched::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #777;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

}

.main-products-lists .spot-price > .floating-number {
  margin-left: 3px;
  display: inline-block;
  height: inherit;
  font-size: 10px;
  transform: translateY(-10%);
}
.main-products-lists .spot-price > .floating-number + .percent-discount {
  margin-left: 15px;
  border-radius: 0 5px 5px 0;
  font-size: 13px;
  padding: 2px 5px;
  background-color: #900;
  color: #fff;

  position: relative;
}
.main-products-lists .spot-price > .floating-number + .percent-discount::before {
  content: '';
  display: block;
  height: 13px;
  width: 13px;

  position: absolute;
  top: 3px;
  left: -6px;

  transform: rotate(45deg);

  background-color: inherit;
}

.main-products-lists .spot-price .info-discount{
  position: relative;
  z-index: 1;
}

.main-products-lists .spot-price-installments{
  margin-top: 5px;
  font-size: 13px;
  color: #900;
}

.main-products-lists .official-store{
  margin-top: 10px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.main-products-lists .ad-featured-aside {
  position: relative;
  top: -72px;
  width: 200px;
}

.main-products-lists .ad-featured-aside .aside-title{
  color:#777;
  position: relative;
  font-size: 13px;
}
.main-products-lists .ad-featured-aside .aside-title::after{
  background-color: #ccc;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 55px;
  z-index: 1;
}
.main-products-lists .ad-featured-aside .aside-title::before{
  background-color: #ccc;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 55px;
  z-index: 1;
}


.main-products-lists .ad-featured-aside p{
  text-align: center;
}


.main-products-lists .ad-featured-aside .aside-description{
  color: #777;
  margin: 10px 0;
  font-size: 16px;
}

.ad-offer-title, .ad-title{
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.ad-offer-title::before{
  content: url(../images/offer.png);
}

.main-spot{
  position: relative;
}

.main-spot:hover::before{
  content: url(../images/favorite.png);
  color: white;
  position: absolute;
  top: 20px;
  left: 5px;
  z-index: 100;
}
.main-spot:active::before{
  content: url(../images/favorite-active.png);
}

.ad-arremate.discount .main-spot{
  display: flex;
  column-gap: 10px;
}

.ad-arremate.discount .spot-image{
  position: relative;
  overflow: initial;
}

.ad-arremate.discount .spot-image > p{
  border-radius: 50%;
  text-align: center;
  color: #fff;
  position: absolute;
  top: -13px;
  left: -13px;
  height: 58px;
  width: 58px;
  background-color: #FF4000;
  display: flex;
  align-items: center;


}
.ad-arremate.discount .main-spot .spot-name::after{
  position: relative;
  top: 2px;
  left: 5px;
  content: url(../images/share.png);
  display: inline-block;

  
}

.spot-brand{
  font-size: .8em;
  margin: 5px 0;
  color: #666;
}
/* End Main */
/* Footer*/

.footer > *{
  background-color: #F9F9F9;
}

.footer-info{
  font-size: 14px;
  border: solid 1px #EEEEEE;
  border-bottom: 0;
  border-radius: 5px 5px 0px 0;
  margin: auto;
  transition: .6s;


  overflow: hidden;
  height: 0;
  padding: 0;
}

.footer details, label{
  display: block;
  border-radius: 5px 5px 0px 0;
  border: solid 1px #EEEEEE;
  border-bottom: 0;
  bottom: -1px;
  font-size: 14px;
  margin: auto;
  padding: 5px 20px 6px;
  position: relative;
  width: fit-content;
  cursor: pointer;
}

.footer-info-grid{
  margin: auto;
  padding: 10px;
  width: var(--width-global);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer-info-grid{
  position: relative;
  /* bottom: -200px; */
}
.footer-bottom{
  padding: 10px 0;
  margin: auto;
  color: #999;
  font-size: 13px;
}

.footer-bottom a{
  color: #0033CA;
}

.footer-bottom div{
  padding: 10px 75px 0;
  margin: auto;
  width: fit-content;
}

.footer-bottom p{
  margin: auto;
  width: 100%;
  margin-bottom: 7px;
}

.footer-info-grid li a, .footer-info-grid li{
  display: block;
  margin-bottom: 7px;
  font-size: 1rem;
  color: #999;
}

li.footer-ul-title {
  margin-bottom: 10px;
  color: #666;
}
/* EndFooter*/

.footer .social-media a{
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.footer .social-media figure{
  width: 16px;
}

#footer-info-grid:checked ~ .footer-info{
  overflow: hidden;
  height: 180px;
  padding: 5px 10px;

}

#footer-info-grid{
  display: none;
}

#footer-info-grid + [for="footer-info-grid"] > p::after{
  display: inline-block;
  margin-left: 10px;
  content: url(../images/arrow-top.png);
}

#footer-info-grid:checked + [for="footer-info-grid"] > p::after{
  transform: rotate(180deg);
}

#footer-info-grid:checked ~ .footer-bottom > div{
  border-top: solid 1px #ddd;
}